@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gameboy";
    src: url("./assets/fonts/AtlantisInternational-jen0.ttf");
}

@layer components{

    html {
        @apply bg-background;
    }

    .pixel-corners {
        clip-path: polygon(
            0px calc(100% - 1px),
            1px calc(100% - 1px),
            1px 100%,
            calc(100% - 1px) 100%,
            calc(100% - 1px) calc(100% - 1px),
            100% calc(100% - 1px),
            100% 1px,
            calc(100% - 1px) 1px,
            calc(100% - 1px) 0px,
            1px 0px,
            1px 1px,
            0px 1px
        );
    }

    .text-shadow{
        text-shadow: 1px 1px #55554F;
    }

}
